doctype html 
html 
    head 
        meta(charset="utf-8")
        title My web site 
        link(rel="stylesheet", href="/style/style.css")
    body 
        header.header-wrapper
            h1 My web site
            nav
                a(href="/") home
                a(href="/users") users
            div.search
                div.form-wrapper  
                div.photo-wrapper
                    img(src="/images/user.png", alt="user account")
        block content
        footer 
            p 2025
        script(src="/scripts/main.js" type="module") 